body { 
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    border-top: solid 1px cadetblue;
    border-bottom: solid 1px cadetblue;
}

aside {
    width: 30%;
    min-width: 200px;
    min-height: 80vh;
    border-right: solid 1px cadetblue;
}

ul {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

li {
    text-decoration: none;
    list-style: none;
    border-bottom: solid 1px cadetblue;
    padding: 16px;
    max-height: min-content;
}

li.selected {
    background-color: lightcyan;
}

h1, h2, h3, p, legend {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4px;
    margin-bottom: 8px;
}

h2 {
    margin-top: -8px;
}

p {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(32, 39, 58);
}

h1 {
    color:cadetblue;
}

header {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

content {
    flex: 1 2 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.todo-item {
    border: solid 1px cadetblue;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: min-content;
}

.todo-title {
    display: flex;
    gap: 8px;
}

.todo-footer {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: right;
    padding-right: 32px;
    color: cadetblue;
    height: 10vh;
    max-height: 80px;
}

button {
    background-color: white;
    border: solid 1px cadetblue;
    height: 24px;
    color: cadetblue;
    border-radius: none;
}

#newProject {
    margin: 16px;
    color: white;
    background-color: cadetblue;
    height: 32px;
    font-weight: 600;
    width: 90%;
}

.modal-field {
    width: 500px;
    border: none;
    padding: 32px;
}

.modal-field>form>fieldset {
    border: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button.todo-item-button {
    border: solid 1px cadetblue;
    height: unset;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

p>input {
    padding-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

fieldset>div>button:last-of-type {
    background-color: cadetblue;
    color: white;
    margin-left: 16px;
}